body{
    background-color: lightblue;
}

.letgo{
    background-color: lightgrey;
    text-align: center;
    height: 10vh;
    width: 75%;
    margin-left: 10%;
}

.letgo p{
    padding-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content1{
    align-items: center;
    background-color: lightgrey;
    box-sizing: border-box;
    width: 75%;
    margin-left: 10%;
}

.content1 p{
    margin: 20px;
}

.content1 img{
    width: 90%;
    margin: 20px;
}

nav{
    background-color: lightseagreen;
    margin: 0;
    padding: 0;
}

.menu-bar img{
    display: flex;
    width: 30px;
    border-radius: 10px;
    margin: 20px;
}

ul li{
    color: white;
}

.menu-bar ul li{
    display: flex;
    padding-left: 100px;
}

.menu-bar ul li a{
    text-decoration: none;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
}

.menu-bar a{
    text-align: center;
}

.menu-bar ul li a:hover{
   background-color: gold;
} 

.menu-bar ul{
    overflow: hidden;
}

.menu-bar li{
    float: left;
}

h1{
    text-align: right;
}
